@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

body {
    font-family: 'Oswald', ;
    font-size: 1.2em;
}

.text-title {
    font-size: 6.5em;
    color: blanchedalmond;
    font-family: 'Patua One', cursive;
}

.text-sub {
    font-size: 1.5em;
    color: blanchedalmond;
    font-family: 'Noto Sans', sans-serif;
}

.bg-title {
    /*background-image: linear-gradient(to bottom right, #ff9f43, #ee5253);*/
    background: url('../img/banner3.jpg') center center no-repeat;
    background-size: cover;
}



.bg-footer {
    background-image: linear-gradient(to bottom right, #da1821, #880022);
}

.bg-nav {
    background-image: linear-gradient(to bottom right, #9e0e2d, #f32b35);
}