@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
body {
    font-family: 'Oswald', ;
    font-size: 1.2em;
}

.text-title {
    font-size: 6.5em;
    color: blanchedalmond;
    font-family: 'Patua One', cursive;
}

.text-sub {
    font-size: 1.5em;
    color: blanchedalmond;
    font-family: 'Noto Sans', sans-serif;
}

.bg-title {
    /*background-image: linear-gradient(to bottom right, #ff9f43, #ee5253);*/
    background: url('../Aulas-Adriano/img/banner2.jpg') center center no-repeat;
    background-size: cover;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: auto;
    background-color: #ff9f43;
    font-family: 'Noto Sans', sans-serif;
}